*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build-logic/build
/build-logic/.gradle
/tolgeeSdk/.idea/caches
/tolgeeSdk/.idea/libraries
/tolgeeSdk/.idea/modules.xml
/tolgeeSdk/.idea/workspace.xml
/tolgeeSdk/.idea/navEditor.xml
/tolgeeSdk/.idea/assetWizardSettings.xml
/tolgeeSdk/.DS_Store
/tolgeeSdk/build
/tolgeeSdk/.idea/*